html,
body{
    width: 100%;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    background-color: off-white;    
}

/* BODY */
body{
    position: relative;
    
    background-image: url("piece2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Extra scrolling space */
    padding-bottom: 100vh;
}

/* OVERLAY */
body::before{
    content: "";

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.22);

    z-index: 1;

    pointer-events: none;
}

/* TEXT */
.center-text{
    position: absolute;
    z-index: 2;

    top: 200px;
    left: 800px;

    color: white;

    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 700;

    letter-spacing: 2px;

    text-shadow:
        4px 0px 0px rgba(0, 0, 0, 0.9);

    user-select: none;
}

/* MOBILE */
@media (max-width: 768px){

    body{

        /* Mobile browsers don't handle fixed well */
        background-attachment: scroll;

        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        /* Mobile scroll space */
        padding-bottom: 80vh;
    }

    .center-text{

        font-size: 3rem;

        top: 180px;
        left: 50%;

        transform: translateX(-50%);

        width: 90%;

        text-align: center;
    }
}
